body
{
background-color: rgb(13, 44, 216);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
overflow: hidden;

}

.area-login
{
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
justify-content: center;
align-items: center;
}
.login
{ /*DIV ROSA A MAOIR */
    display: flex;
    flex-direction: column;
    align-items: center;
background-color:rgb(226, 241, 16); /*MUDAR AS COR DO DIV MAIOR*/
width: 353px;
height: 410px;
padding: 35px;
border-radius: 12%;

} 

.login form 
{
display: flex;
flex-direction: column;
width: 100%;
}

.login input
{/*CAMPOS DO LOGIN (NOME DO USUARIO E SENHA)*/
background-color:rgb(13, 44, 216); 
margin-top: 10px;
border:  none;
height: 45px;
outline: none;
border-radius: 8px;
color: aliceblue;
padding-left: 10px;

}


.login img
{
    width: 250px;
    height: auto;
}
input::placeholder
{
color: rgb(255, 255, 255);
font-size: 14px;

}

.ENTRAR{/*CAMPOS DO LOGIN (ENTRAR)*/
    background-color:rgb(13, 44, 216);
margin-top: 10px;/*ESPASAMENTO DO BOTÃO ENTRAR*/
border:  none;
height: 45px;/*ALTURA DO BOTÃO*/
outline: none;
border-radius: 8px; /*BORDA DA DIV ENTRAR*/
color: rgb(255, 255, 255);
padding-left: 10px;/*CENTRALIZAR A PALAVRA ENTRAR*/
font-size: 15px;/*ALTERAR TAMANHO DA FONTE*/

}

.ntc{
    position: absolute;
    width: 250px;
    height: 400px;
    margin-top: 650px; /*colocar div em baixo*/
}

.Admin {
    position: absolute;
    margin-top: -320px;/*DEIXA A DIV MAIS PARA CIMA OU MAIS PARA BAIXO*/
    left: 10px; /*DEIXA A DIV MAIS PARA ESQUERDA OU PARA DIREITA*/
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px; /*ALTERAR TAMANHO DA FONTE*/
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: rgb(226, 241, 16);;
    color: rgb(13, 44, 216);
    border-radius: 8px; /*deixa borda redonda*/

  }

  .logo{
    position: relative;
    margin-top: -30%;
    height: 200px;
}