.body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 27, 161);
  width: 150px;
}
.box{ 
  /*position: absolute;*/
  background-color: rgb(13, 44, 216);
  padding: 15px;
  height: 750px; ;
  color: aliceblue;
  }
  fieldset{
      border: 3px solid rgb(226, 241, 16);
      height: 710px; ;
  }
  legend
  {
    border: 1px solid rgb(13, 44, 216);
    padding: 10px;
    /*text-align: center;*/   /*se quiser alinhar o titulo*/
    background-color: rgb(226, 241, 16);
    border-radius: 5px;
    color: rgb(13, 44, 216);
  }
  .caixatexto{
      position: relative;
  }
  .minititulo{
      background: none;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
      color: white;
      font-size: 15px;
      width: 100%;
      letter-spacing: 2px;  /*espasamento de letras*/
  }
  
     
 

  

  button {
      cursor: pointer;
      font-weight: 700;
      font-family: Helvetica,"sans-serif";
      transition: all .2s;
      padding: 10px 20px;
      border-radius: 100px;
      background: #cfef00;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
    
    button:hover {
      background: #c4e201;
    }
    
    button > svg {
      width: 34px;
      margin-left: 10px;
      transition: transform .3s ease-in-out;
    }
    
    button:hover svg {
      transform: translateX(5px);
    }
    
    button:active {
      transform: scale(0.95);
    }
    .inpt
    {/*CAMPOS DO LOGIN (NOME DO USUARIO E SENHA)*/
background-color:#cfef00; 
margin-top: 10px;
border:  none;
height: 50px;
outline: none;
border-radius: 8px;
color: rgb(13, 1, 182);
justify-items: center;
display: flex;


}

    

    button {
        cursor: pointer;
        font-weight: 700;
        font-family: Helvetica,"sans-serif";
        transition: all .2s;
        padding: 10px 20px;
        border-radius: 100px;
        background: #cfef00;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        font-size: 15px;
      }
      
      button:hover {
        background: #c4e201;
      }
      
      button > svg {
        width: 34px;
        margin-left: 10px;
        transition: transform .3s ease-in-out;
      }
      
      button:hover svg {
        transform: translateX(5px);
      }
      
      button:active {
        transform: scale(0.95);
      }
      .rating {
        cursor: pointer;
      }
      
      .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
        background-color: rgb(255, 255, 255);
        padding: 0.8rem;
        width: 33rem;
      }
      
      .rating-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.4rem 0.8rem;
        width: 100%;
      }
      
      .rating {
        background-color: rgba(0, 0, 16, 0.8);
        padding: 10px 20px;
        border-radius: 100px;
        display: flex;
        justify-content: center
      }
      
      .rating-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .svg {
        fill: rgb(242, 242, 242);
        height: 3.6rem;
        width: 3.6rem;
        margin: 0.2rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      
      .rating-form-2 svg {
        height: 3rem;
        width: 3rem;
        margin: 0.5rem;
      }
      
      #radios label {
        position: relative;
      }
      
      .super-happy, [type="radio"] {
        position: absolute;
        opacity: 0;
      }
      
      .input ,[type="radio"] + svg {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }
      
      .super-happy[class="super-happy"]:hover + svg,
      .super-happy[class="super-happy"]:checked + svg,
      .super-happy[class="super-happy"]:focus + svg {
        fill: rgb(0, 204, 79);
        transition: 1.5s;
      }
      
      .neutral[class="neutral"]:hover + svg,
      .neutral[class="neutral"]:checked + svg,
      .neutral[class="neutral"]:focus + svg {
        fill: rgb(232, 214, 0);
        transition: 1.5s;
      }
      
      .super-sad[class="super-sad"]:hover + svg,
      .super-sad[class="super-sad"]:checked + svg,
      .super-sad[class="super-sad"]:focus + svg {
        fill: rgb(239, 42, 16);
        transition: 1.5s;
      }
      
      
      